<h2 class="form-signin-heading">I Need</h2>
<%= f.fields_for :needs do |builder| %>
	<%= builder.text_field :title, :class => "input-block-level"%>
<%end%>
<!--  <%= text_field_tag "user[needs][]", nil, :placeholder => "Need 1", :class => "input-block-level"%>
 <br>	
 <%= text_field_tag "user[needs][]", nil, :placeholder => "Need 2",  :class => "input-block-level"%>
 <br>
 <%= text_field_tag "user[needs][]", nil,  :placeholder => "Need 3", :class => "input-block-level"%>
 <br>	
 <%= text_field_tag "user[needs][]", nil,  :placeholder => "Need 4", :class => "input-block-level"%>
 <br> -->