<div class="container">
	<div class="row">
		<div class="span3">
			<%= image_tag("Profile-Picture.png", :class=>"img-polaroid", :hieght => 140, :width => 140) %>
			<h4>Zip: <%= @user.zip_code%><h4>
			<h5><%= link_to "Linked in profile", "www.linkedin.com"%></h5>
			<h5><%= link_to "Google+", "www.google.com"%></h5>
			<h5><%= link_to "Comapany Website", "www.google.com"%></h5>						
		</div>
		<div class=span6>
			<div class="row">
				<div class="span3">
					<h5>Needs</h5>
					<ul>
    				<li>Web designer</li>
    				<li>Tester</li>
    				<li>Architect</li>
    				<li>Lead QA</li>
    				<li>Manager</li>
    				<li>Director</li>
    				<li>SEO</li>
    			</ul>
				</div>
				<div class="span3">
					<h5>Offerings</h5>
					<ul>
    				<li>Web designer</li>
    				<li>Tester</li>
    				<li>Architect</li>
    				<li>Lead QA</li>
    				<li>Manager</li>
    				<li>Director</li>
    				<li>SEO</li>
    			</ul>
				</div>				
			</div>
			<h5>About Bob</h5>
    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    	<h5>Top Matches</h5>
    	<div class="row">
    		<div class="span1">
    			<%= image_tag("Profile-Picture.png", :class=>"img-polaroid", :hieght => 150, :width => 90) %>
    		</div>
    		<div class="span5">
    			<%= link_to "Mike Jones"%>
    			<h6>Needs: IT Consulting, Plumbing, Handyman Work</h6>
    			<h6>Offering: Professional Services, Scrapbook services</h6>
    		</div>    		
    	</div>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			<div class="row">
    		<div class="span1">
    			<%= image_tag("Profile-Picture.png", :class=>"img-polaroid", :hieght => 150, :width => 90) %>
    		</div>
    		<div class="span5">
    			<%= link_to "Mike Jones"%>
    			<h6>Needs: IT Consulting, Plumbing, Handyman Work</h6>
    			<h6>Offering: Professional Services, Scrapbook services</h6>
    		</div>    		
    	</div>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    	<div class="row">
				<div class="span3">
					<h5>Upcoming Meetings</h5>
					<ol>
    				<li>Bill Jula, Tuesday - 2pm - skype</li>
    				<li>Bill Jula, Wednesday - 2pm - skype</li>
    				<li>Bill Jula, Thursday - 2pm - skype</li>
    				<li>Bill Jula, Friday - 2pm - skype</li>
    			</ol>
				</div>
				<div class="span3">
					<h5>Past Meetings</h5>
					<ol>
    				<li>Bill Jula,saturday-2pm-skype</li>
    				<li>Bill Jula,sunday-2pm-skype</li>
    				<li>Bill Jula,Tuesday-2pm-skype</li>
    				<li>Bill Jula,Tuesday-2pm-skype</li>
    			</ol>
				</div>				
			</div>    		
		</div>
	</div>
</div>