<div class="container profile-container" style="background-color:#E7E7E7;">
    <% if user_signed_in?%>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete , :style => "float:right;margin-top:20px;margin-right:20px;", :class => "btn btn-primary"%>
    <%end%>
	
	<div class="row" style="margin-top:40px;">
		<div class="span3">
            <%= link_to @user.name, edit_user_path(@user), :style => "margin-left:40px;margin-top:20px;"%>
			<%= image_tag(image_url(@user), :class=>"img-polaroid", :hieght => 140, :width => 140, :style => "margin-left:40px;" ) %>
			<h4 style = "margin-left:40px" >Zip: <%= @user.zip_code%><h4>
			<h5><%= link_to "Linked in profile", @user.linked_public_profile, :style => "margin-left:40px;" %></h5>
			<h5><%= link_to "Google+", @user.google_plus_profile_url, :style => "margin-left:40px;"%></h5>
			<h5><%= link_to "Comapany Website", @user.company_url, :style => "margin-left:40px;"%></h5>						
		</div>
		<div class=span6>
			<div class="row">
				<div class="span3">
					<h5>Needs</h5>
            <ul>
              <% @user.needs.each do |need|%>
                <% if need.title.present? %>
                  <li><%= need.title %></li>
                <%end%>
              <%end%>
    			  </ul>
				</div>
				<div class="span3">
					<h5>Offerings</h5>
					<ul>
            <% @user.offerings.each do |offering|%>
              <% if offering.title.present? %>
                <li><%= offering.title%></li>
              <%end%>  
            <%end%>
    			</ul>
				</div>				
			</div>
			<h5>About Bob</h5>
    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    	<h5>Top Matches</h5>
        <% offers_matching(@user).each do |offer| %>
          <div class="row">
            <div class="span1">
                <%= image_tag(offer.user.linked_in_image_url, :class=>"img-polaroid", :hieght => 150, :width => 90) %>
            </div>
            <div class="span5">
                <%= link_to offer.user.name, offer.user.linked_public_profile%>
                <h6>Needs: <%= user_needs(@user)%></h6>
                <h6>Offering: <%= user_offerings(user)%></h6>
            </div>          
          </div>
        <%end%>
        <% needs_matching(@user).each do |offer| %>
          <div class="row">
              <div class="span1">
                <%= image_tag(offer.user.linked_in_image_url, :class=>"img-polaroid", :hieght => 150, :width => 90) %>
              </div>
              <div class="span5">
                <%= link_to offer.user.name, offer.user.linked_public_profile%>
                <h6>Needs: <%= user_needs(@user)%></h6>
                <h6>Offering: <%= user_offerings(user)%></h6>
              </div>          
          </div>
        <%end%>
      <div class="row">
        <div class="span1">
          <%= image_tag("Profile-Picture.png", :class=>"img-polaroid", :hieght => 150, :width => 90) %>
        </div>
        <div class="span5">
          <%= link_to "Mike Jones"%>
          <h6>Needs: IT Consulting, Plumbing, Handyman Work</h6>
          <h6>Offering: Professional Services, Scrapbook services</h6>
        </div>        
      </div>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		<div class="row">
    		<div class="span1">
    			<%= image_tag("Profile-Picture.png", :class=>"img-polaroid", :hieght => 150, :width => 90) %>
    		</div>
    		<div class="span5">
    			<%= link_to "Mike Jones"%>
    			<h6>Needs: IT Consulting, Plumbing, Handyman Work</h6>
    			<h6>Offering: Professional Services, Scrapbook services</h6>
    		</div>    		
    	</div>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    	<div class="row">
				<div class="span3">
					<h5>Upcoming Meetings</h5>
					<ol>
            <% upcoming_meetings(@user).each do |meeting| %>
              <li><%= "#{meeting_with}" "#{meeting.meeting_time} "%></li>
            <%end%>
    			</ol>
				</div>
				<div class="span3">
					<h5>Past Meetings</h5>
					<ol>
            <% past_meetings(@user).each do |meeting| %>
              <li><%= "#{meeting_with}" "#{meeting.meeting_time} "%></li>
            <%end%>
    			</ol>
				</div>				
			</div>    		
		</div>
	</div>
</div>